{% extends "::administration/admin_layout.html.twig" %}
	{% block content_page %}
<h1>GenreJeu</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Intitule</th>
            <td>{{ entity.intitule }}</td>
        </tr>
        <tr>
            <th>Descriptif</th>
            <td>{{ entity.descriptif }}</td>
        </tr>
        <tr>
            <th>Visupicto</th>
            <td>{{ entity.visuPicto }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('genrejeu') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('genrejeu_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('genrejeu_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}