{% extends "::layout_bandeau.html.twig" %}
	{% block contenu_bandeau_top %}
		<div class='row' id='wrapper_rpesentation_accueil'>
			<div id="bloc_upper_page_accueil">
				<div class="span9 pull-left" id="bloc_gauche_upper_page_accueil">
					<video id="video_accueil" src="" poster="{{ asset('image/abstract-colorful.jpg') }}" controls="controls">
						<source src="{{ asset('video/video2.mp4') }}" type="video/mp4" />
						<source src="{{ asset('video/video2.webm') }}" type="video/webm" />
						<source src="{{ asset('video/video2.ogv') }}" type="video/ogg" />
					</video>
				</div>
				<div class="span3" id="bloc_droite_upper_page_accueil">
					<p>
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut enim et neque varius aliquam id nec justo.
	    				  Nulla eu urna ut enim lacinia pretium. Nunc facilisis risus ac ligula bibendum congue. Nulla facilisi. Nam 
	    				  sodales volutpat ante sed eleifend.
					</p>
					<a href="" class="btn btn-warning">
						S'inscrire
					</a>
					<a href="" class="btn ">
						Connexion
					</a>
				</div> 
			</div>
	    </div>
	    {% endblock %}
	    {% block contenu_page %}
	     <!-- Concept -->
	    <div id="wrapper_concept_accueil" class="row">
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_left">
	    		<p>
	    		<img src="{{ asset('image/icone_game.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. 
	    		</p> 
	    		<a href="" class="btn btn-inverse">Voir plus</a>
	    	</div>
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_middle">
	    		<p>
	    		<img src="{{ asset('image/icone_crea.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. 
	    		</p> 
	    		<a href="" class="btn btn-inverse">Voir plus</a>
	    	</div>
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_right">
	    		<p>
	    		<img src="{{ asset('image/icone_dev.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.	    		.
	    		</p>
	    		<a href="" class="btn btn-inverse">Voir plus</a> 
	    	</div>
	    </div>
	    <div id="wrapper_lower_accueil" class="row"> 
	    <!-- Games -->
	    	<div id="wrapper_last_game_accueil" class="span8 ombre">
	    		<h1 class="title_lower_accueil">Dernier jeu</h1>
	    		<div id="visu_last_game_accueil" class="span5">
	    			<img src="{{ asset('image/visu_tmp.png') }}">
	    		</div>
	    		<div id="desc_last_game_accueil" class="span3">
		    		<p>
			    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
			    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. 
		    		</p>
		    		<a href="" class="btn btn-warning">Jouer</a>
		    		<a href="" class="btn ">Tous les jeux</a>
	    		</div>
	    		
	    	</div>
	    	<div id="wrapper_last_topics" class="span4 ombre">
	    		<h1 class="title_topic_lower_accueil">Derniers Topics</h1>
	    		{% for topic in forumEntities %}
	    			<a class="wrapper_line_topics_accueil" href="">
		    			<div class="line_topics_accueil span4">
		    				<span class="span2">
		    					{{ topic.titre }}
		    				</span>
		    				<span class="date_topic_last_topic_accueil span1 pull-right">
		    					{{ topic.date|date('d.m.Y') }}
		    				</span>
		    			</div>
	    			</a>
	    		{% endfor %}
	    		<a id="btn_voir_furm_last_topic_accueil"href="" class="btn pull-right">Voir le forum</a>
	    	</div>
	     <!-- forum -->   
	   </div>
	{% endblock %}