{% extends "::layout_bandeau.html.twig" %}
	{% block contenu_bandeau_top %}
		<div class='row' id='wrapper_rpesentation_accueil'>
			<div id="bloc_upper_page_accueil">
				<div class="span9 pull-left" id="bloc_gauche_upper_page_accueil">
					<video id="video_accueil" src="" poster="{{ asset('image/abstract-colorful.jpg') }}" controls="controls">
						<source src="{{ asset('video/video2.mp4') }}" type="video/mp4" />
						<source src="{{ asset('video/video2.webm') }}" type="video/webm" />
						<source src="{{ asset('video/video2.ogv') }}" type="video/ogg" />
					</video>
				</div>
				<div class="span3" id="bloc_droite_upper_page_accueil">
					<p>
						 <span class="txt_orange_bold">Lorem ipsum dolor sit amet.</span> Consectetur adipiscing elit. Nulla ut enim et neque varius aliquam id nec justo.
	    				  Nulla eu urna ut enim lacinia pretium. Nunc facilisis risus ac ligula bibendum congue. Nulla facilisi. Nam 
	    				  sodales volutpat ante sed eleifend.
					</p>
					<a href="" class="btn btn-warning">
						S'inscrire
					</a>
					<a href="" class="btn ">
						Connexion
					</a>
				</div> 
			</div>
	    </div>
	    {% endblock %}
	    {% block contenu_page %}
	     <!-- Concept -->
	    <div id="wrapper_concept_accueil" class="row">
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_left">
	    		<p>
	    		<img src="{{ asset('image/icone_game.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. 
	    		</p> 
	    		<a href="" class="btn btn-inverse">Voir plus</a>
	    	</div>
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_middle">
	    		<p>
	    		<img src="{{ asset('image/icone_crea.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. 
	    		</p> 
	    		<a href="" class="btn btn-inverse">Voir plus</a>
	    	</div>
	    	<div class="span4 txt_concept_accueil" id="txt_concept_accueil_right">
	    		<p>
	    		<img src="{{ asset('image/icone_dev.png') }}" class="icon_concept_accueil"/>
	    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum metus. Fusce nec dui orci, 
	    		ut hendrerit erat. Fusce id enim ut sapien fermentum rutrum. In mattis eros et lacus porta egestas. Aliquam erat 
	    		volutpat. Nulla ac porta metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis.	    		.
	    		</p>
	    		<a href="" class="btn btn-inverse">Voir plus</a> 
	    	</div>
	    </div>
	    <div id="wrapper_lower_accueil" class="row"> 
	    <!-- Games -->
	    	{% if dernierJeu is defined %}
	    	<div id="wrapper_last_game_accueil" class="span12 ombre">
	    		<h1 class="title_lower_accueil">Dernier jeu</h1>
	    		<div id="visu_last_game_accueil" class="span5">
	    			<img src="{{ asset(dernierJeu.visuelImg) }}">
	    		</div>
	    		<div id="desc_last_game_accueil" class="span3">
		    		<p>
{# 		    				{{ dump(dernierJeu) }}#}
		    				{{ dernierJeu.descriptif}}
		    		</p>
		    		{% if app.user.username is defined %}
		    			<a href="http://www.pixelreseller.com/test_ig?username={{ app.user.username }}&salt={{ app.user.salt }}&pwd={{ app.user.password }}" class="btn btn-warning">Jouer</a>
		    			<a href="{{ path('jeu_catalogue') }}" class="btn ">Tous les jeux</a>
		    		{% else %}
		    			<a href="{{ dernierJeu.destIndex }}?username=0&salt=0&pwd=0" class="btn btn-warning">Jouer</a>
		    			<a href="{{ path('jeu_catalogue') }}" class="btn ">Tous les jeux</a>
		    		{% endif %}
	    		</div>
	    		{% endif %}
	    		<div id="classement_overall_accueil" class="span3">
	    			<h1 id="titre_classement_accueil">Wall of Fame</h1>
	    			{% if highScoreEntities is defined %}
			    		{% for lineScore in highScoreEntities %}
			    			<div class="line_highscore_accueil">
			    				<span class="num_row_classement_accueil">{{ loop.index }}</span>
			    				<span class="nom_row_classement_accueil">
			    					<a href="{{ path('utilisateur_profil',{'id': lineScore.id}) }}">{{ lineScore.userName }}</a>	
			    				</span>
			    				<span class="pull-right">{{ lineScore.highScore }}</span>
			    			</div>
			    		{% endfor %}
		    		{% endif %}
	    		</div>
	    	</div>
	   </div>
	   <!-- forum -->
	   <div id="wrapper_last_topics" class="row ombre">
	    		<h1 class="title_topic_lower_accueil btn-inverse">Derniers Topics</h1>
	    		{% if forumEntities is defined %}
		    		{% for topic in forumEntities %}
		    			<a class="wrapper_line_topics_accueil" href="">
			    			<div class="line_topics_accueil span12">
			    				<span class="span2">
			    					{{ topic.titre }}
			    				</span>
			    				<span class="date_topic_last_topic_accueil span1 pull-right">
			    					{{ topic.date|date('d.m.Y') }}
			    				</span>
			    			</div>
		    			</a>
		    		{% endfor %}
	    		{% endif %}
	    		<a id="btn_voir_furm_last_topic_accueil"href="" class="btn pull-right">Voir le forum</a>
	    	</div>
	{% endblock %}