<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('bundles/infinitygamesaccueil/css/reset.css') }}" type="text/css" media="all" />
			<link rel="stylesheet" href="{{ asset('bundles/infinitygamesaccueil/css/style.css') }}" type="text/css" media="all" />
			<script src="{{ asset('bundles/infinitygamesaccueil/js/jquery.js')}}"></script>
			<script src="{{ asset('bundles/infinitygamesaccueil/js/script.js')}}"></script>
		{% endblock %}
        <title>{% block title %}Infinity Games{% endblock %}</title>
    </head>
    <body>
    	<!-- header du site -->
    	<div id='header'>
    		<div id="wrapper_header" class="div_center">
    			<div id="logo">
    			
    			</div>
    			<div id="wrapper_link_nav">
    				<a href="{{ path('infinity_games_accueil_homepage') }}" class="link_header_nav">
    					<div class="content_link_nav"> Accueil </div>
    				</a>
    				<a href="#" class="link_header_nav">
    					<div class="content_link_nav"> Games </div>
    				</a>
    				<a href="#" class="link_header_nav">
    					<div class="content_link_nav"> Tools </div>
    				</a>
    				<a href="#" class="link_header_nav">
    					<div class="content_link_nav"> Contact </div>
    				</a>
    				<a href="#" class="link_header_nav">
    					<div class="content_link_nav"> Mon compte </div>
    				</a>
    			</div>
    			<div id="wrapper_btn_co_inscript" class='btn_header'>
    				<div id="btn_inscrip" class="btn_header">
    					<a class="" href="{{ path('infinity_games_inscription') }}">
    						<span>Inscription</span>
    					</a>
    				</div>
    			</div>
    			<div id="btn_connexion" class="btn_header">
    				<a class="login-window" href="#login-box">
    					<span class="intitule_btn_nav">Connexion</span>
    				</a>
    			</div>

<!-------------------------box affiché inscription au clique masquée de base------------------------------------------------------------------->
				<div id="inscrip_box" class="login-popup">
	        		<a href="#" class="close"><img src="css/img/close.png" class="btn_close" title="Close Window" alt="Close" /></a>
	         		 <form method="post" class="signin" action="#">
		                <fieldset class="textbox">
			            	<label class="username">
			                	<span>Votre identifiant</span>
			                	<input id="ident" name="ident"" value="" type="text" autocomplete="on">
			                </label>
			                <label class="username">
			                	<span>Votre e-mail</span>
			                	<input id="mail" name="mail"" value="" type="text" autocomplete="on">
			                </label>
			                <label class="password">
			                	<span>Votre mot de passe</span>
			                	<input id="mdp" name="mdp" type="password">
			                </label>
			                <label class="password">
			                	<span>Confirmation de votre mot de passe</span>
			                	<input id="c_mdp" name="c_mdp" type="password">
			                </label>
			                	<input class="submit button" type="submit" name='connexion' value='Inscription'>
		                </fieldset>
	          		</form>
				</div>
<!-------------------------box affiché au clique--------------------------------------------------------------------------------->
<!-------------------------box affiché connexion au clique masquée de base------------------------------------------------------->
				<div id="login-box" class="login-popup">
	        		<a href="#" class="close"><img src="css/img/close.png" class="btn_close" title="Close Window" alt="Close" /></a>
	         		 <form method="post" class="signin" action="#">
		                <fieldset class="textbox">
			            	<label class="username">
			                	<span>E-mail</span>
			                	<input id="mail" name="mail" value="" type="text" autocomplete="on">
			                </label>
			                <label class="password">
			                	<span>Mot de passe</span>
			                	<input id="mdp" name="mdp" value="" type="password">
			                </label>
			                	<input class="submit button" type="submit" name='connexion' value='Connexion'>
		                </fieldset>
	          		</form>
				</div>
<!-------------------------box affiché au clique--------------------------------------------------------------------------------->
				
    		</div>	
    	</div>
    	<!-- la div qui centrera tout le contenu -->
		<div id="wrapper_contenu" class="div_center">
			<!-- Div que l'on modifie sur les diéfferntes pages-->
        	{% block contenu_page %}
        	
        	{% endblock %}
        <!-- fin de la div de centrage -->
		</div>
    </body>
</html>