{% extends "::layout.html.twig" %}
	{% block contenu_page %}
		<div id="presentation_forum" class="row">
			<h1>Forum Infinity Factory</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id felis nisi, eget ultricies tortor. Maecenas rhoncus orci id dui imperdiet ultricies. 
				Sed id sapien ut quam viverra commodo ac id nisi. Suspendisse pharetra, arcu eget malesuada consequat, ipsum est vulputate ante, at euismod ipsum massa a tellus. 
				Mauris lacinia nunc at sem aliquet sagittis ac a lectus. Donec ullamcorper enim nec magna mollis sit amet adipiscing purus laoreet. Ut dictum nulla at tellus elementum nec 
				fermentum diam consequat. 
			</p>
			{% if app.user.username is defined %}
			<div class="row">
				<a id="btn_new_msg_forum" href="#" class="btn btn-warning span2"><i class="icon-flag icon-white"></i> Nouveau</a>
			</div>
			{% else %}
			<div class="row span6">
				<span>Vous devez être <a href="#">enregistré </a> pour créer un topic. </span><a href="">Connexion ?</a>
			</div>
			{% endif %}
		</div>
		<div id="form_crea_topic" class="row">
			<div class="span2"></div>
			<div class="span8">
				<form action="{{ path('messageforum_create') }}" method="post" {{ form_enctype(form_topic) }}>
					{{ form_widget(form_topic) }}
			   		<p>
			        	<button class="btn " type="submit">Créer</button>
			   		</p>
				</form>
			</div>
			<div class="span2"></div>
		</div>
		{% for categorie in categorieEntities %}
			<div class="row bloc_categorie_forum">
				<div class="presentation_categorie_forum">
					<div class="titre_categorie_forum">{{ categorie.intitule }}</div>
					<div class="descriptif_categorie_forum italic">{{ categorie.descriptif }}</div>
				</div>
				{% for topic in topicEntities %}
					{% if topic.forum == categorie.intitule %}
						<div class="row ligne_topic_forum">
							<div class="span8"><a href="{{ path('messageforum_read_topic',{'id':topic.id}) }}"> <i class="icon-flag"></i> {{ topic.titre }}</a></div>
							<div class="row span2">
								<a href="{{ path('utilisateur_profil',{'id':topic.utilisateur.id}) }}"><i class="icon-user"></i> {{ topic.utilisateur }}</a>
							</div>
							<div class="row span2">
								{{ topic.date|date('d.m.Y - G:i') }}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>		
		{% endfor %}
{% endblock %}
