{% extends "::layout.html.twig" %}
	{% block contenu_page %}
		
		
		<div class="row">
			<h1>Liste des jeux : </h1>
			{% for jeu in jeux %}
			<div class="row line_game_catalogue">
				<div data-toggle="collapse" data-target="{{'#jeux'~jeu.nom }}" class="row">
		    		<div class="span3 line_jeu_catalogue">{{ jeu.nom }}</div>
					<div class="span2 line_jeu_catalogue">{{ jeu.note }}</div>
					<div class="span3 line_jeu_catalogue">{{ jeu.utilisateurutilisateur }}</div>
					<div class="span2 line_jeu_catalogue">{{ jeu.genreJeuGenreJeu }}</div>
					<div class="span2 line_jeu_catalogue ">
						<div class="btn pull-right">Jouer</div>
					</div>
				</div>
    			<div id="{{'jeux'~jeu.nom }}" class="collapse row">
    				<div class="span6 wrapper_mini_img_jeu">
    					<img class='mini_img_jeu' alt="logo Infinity Games" title="logo Infinity Games" src="{{ asset('image/visu_tmp.png') }}">
    				</div>
    				<div class="span6">
    					{{ jeu.descriptif }}
    				</div>
    			</div>
				<div class="row">
					
				</div>
			</div>
			{% endfor %}	
		</div>
	{% endblock %}