{% extends "::layout_bandeau.html.twig" %}
	{% block contenu_bandeau_top %}
	<div class="span12">
		<h1 id="titre_last_game_catalogue">Dernier jeu, ajouté le {{ dernierJeu.createdAt|date('d.m.Y') }}</h1>
		<div class="span4" id="wrapper_img_last_game_catalogue">
			<img src="{{ asset(dernierJeu.visuelImg) }}">
		</div>
		<div class="span8">
			<p id="wrapper_p_desc_last_game_catalogue">
				{{ dernierJeu.descriptif }}
			</p>
			<a href="{{ dernierJeu.destIndex }}" class="btn btn-warning">Jouer</a>	
		</div>
	</div>
	{% endblock %}
	{% block contenu_page %}
		<div id="wrapper_top3_catalogue" class="span12">
			<h1 id="titre_last_game_catalogue">Top 3 des jeux</h1>
			{% for jeuTop in jeuTop3 %}
				<div class="span4 wrapper_topjeu_catalogue ombre">
					<div class="span4 img_top3_game_catalogue">
						<img src="{{ asset(jeuTop.visuelImg) }}">	
					</div>
					<div class="span4 nom_topgame_catalogue">
						<span class="">{{ jeuTop.nom }} - {{ jeuTop.note }} / 5</span>
					</div>
					<a href="{{ jeuTop.destIndex }}" class="btn">Jouer</a>
					<a href="#{{ jeuTop.id }}" role="button" class="btn" data-toggle="modal"><i class=" icon-zoom-in"></i></a>
				</div>
				<div id="{{ jeuTop.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel">{{ jeuTop.nom }}</h3>
					</div>
					<div class="modal-body">
						
						<div class="span5">
							<img src="{{ asset(jeuTop.visuelImg) }}">
						</div>
						<div class="span5">
							<p>
								{{ jeuTop.descriptif }}
							</p>
						</div>
					</div>
					<div class="modal-footer">
						<a href="{{ jeuTop.destIndex }}" class="btn">Jouer</a>
						<button class="btn btn-error" data-dismiss="modal" aria-hidden="true">Fermé <i class="icon-remove"></i></button>
					</div>
				</div>
			{% endfor %}	
		</div>
		<div class="span12" id="bloc_tous_jeux_catalogue_jeu">
			<h1>Tous les jeux</h1>
			{% for jeu in jeux %}
				<div class="span12 line_jeu_game_catalogue">
					<span class="span4 nom_jeu_line_jeu_catalogue">{{ jeu.nom }}</span>
					<span class="span2">{{ jeu.genreJeuGenreJeu }}</span>
					<span class="span2">{{ jeu.note }}</span>
					<span class="span2 pull-right">
						<a href="#{{ jeu.id }}" class="btn pull-right a_btn_ligne_jeu_catalogue" ><i class=" icon-zoom-in"></i></a>
						<a href="{{ jeu.destIndex }}" class="btn pull-right a_btn_ligne_jeu_catalogue">Jouer</a>
					</span>
				</div>
			{% endfor %}
		</div>
	{% endblock %}