{% extends "::administration/admin_layout.html.twig" %}
	{% block content_page %}
<div class="row">
	<div class="span1"></div>
	<div class="span11">
		<h2>Informations {{ entity.nom }}</h2>
		<div class="row">
			<span class="span2">Nom du jeu : </span>
			<span class="span9">{{ entity.nom }}</span>
		</div>
		<div class="row">
			<span class="span2">Style de jeu : </span>
			<span class="span9">{{ entity.genreJeuGenreJeu }}</span>
		</div>
		<div class="row">
			<span class="span2">Note : </span>
			<span class="span9">{{ entity.note }} / 5</span>
		</div>
		<div class="row">
			<span class="span2">Mise en ligne le : </span>
			<span class="span9">{{ entity.createdAt|date ('d-m-Y') }}</span>
		</div>
		<div class="row">
			<span class="span2">Page de jeu : </span>
			<span class="span9">
				<a href="">{{ entity.destIndex }}</a>
			</span>
		</div>
	</div>
	<div class="row span11">
		<div class="span3"
			<a href="{{ path('utilisateur') }}">
           	 	<button class="btn btn-inverse">
           	 		<i class="icon-list icon-white"></i> Retour à la liste
           	 	</button>
        	</a>
			<a href="{{ path('utilisateur_edit', { 'id': entity.id }) }}">
           	 	<button class="btn btn-inverse">
           	 		<i class=" icon-pencil icon-white"></i> Editer le profil
           	 	</button>
        	</a>
        </div>
        <div class="span2">
        	<form action="{{ path('utilisateur_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger">
           	 		<i class=" icon-remove icon-white"></i> Supprimer
           	 </button>
        </form>
        </div>
	</div>
</div>
{% endblock %}