<h1>ArticlesTodoList</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ entity.titre }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ entity.contenu }}</td>
        </tr>
        <tr>
            <th>Categorie</th>
            <td>{{ entity.categorie }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ entity.statut }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Utilisateur</th>
            <td>{{ entity.utilisateur }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('articlestodolist') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('articlestodolist_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('articlestodolist_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
