{% extends "::administration/admin_layout.html.twig" %}
	{% block content_page %}
		<h1>Gestion des utilisateurs</h1>
		<div class="span11">
			{% render 'InfinityGamesInfinityBundle:StatsUtilisateur:affichageLineChart'%}
			<a href="{{ path('utilisateur_new') }}">
		    	<button class="btn btn-success"> 
			    	Ajouter un utilisateur
		        </button>
			</a>
			<div id="list_user">
				<h2>Liste des utilisateurs : </h2>
				<table id="listing_admin" class="display dataTable listing_admin" width="90%" cellspacing="50" cellpadding="50" border="0" aria-describedby="classement des joueurs" style="width: 100%;">
					<thead>
						<tr role="row">
							<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Nom du joueur">Nom</th>
							<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Email de l'utilisateur">Email</th>
							<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Platform(s): activate to sort column ascending">Pts expérience</th>
							<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Platform(s): activate to sort column ascending">Voir</th>
							<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Platform(s): activate to sort column ascending">Editer</th>
						</tr>
					</thead>
					<tfoot>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
					{% for user in entities %}
					 	<tr class="gradeA odd">
							<td class="sorting_1">
								<a href="{{ path('utilisateur_profil',{ 'id':user.id }) }}" title="voir le profil Infinity Games">{{ user.username }}</a>
							</td>
							<td class="sorting_1">{{ user.email }}</td>
							<td class="sorting_1">{{ user.experience }}</td>
							<td class="sorting_1">
								<a href="{{ path("utilisateur_show",{'id':user.id}) }}">
									<button class="btn">
										<i class=" icon-eye-open"></i>
									</button>
								</a>
							</td>
							<td class="sorting_1">
								<a href="{{ path("utilisateur_edit",{'id':user.id}) }}">
									<button class="btn btn-info">
										<i class=" icon-edit"></i>
									</button>
								</a>
							</td>
						</tr>	
					{% endfor %} 	
					</tbody>
				</table>
			</div>	
		</div>
	{% endblock %}