{% extends "::administration/admin_layout.html.twig" %}
	{% block content_page %}
<div class="row">
	<div class="span1"></div>
	<div class="span11">
		<h2>Informations {{ entity.username }}</h2>
		<div class="row">
			<span class="span2">Pseudonyme : </span>
			<span class="span9">{{ entity.username }}</span>
		</div>
		<div class="row">
			<span class="span2">Nom : </span>
			<span class="span9">{{ entity.nom }}</span>
		</div>
		<div class="row">
			<span class="span2">Prenom : </span>
			<span class="span9">{{ entity.prenom }}</span>
		</div>
		<div class="row">
			<span class="span2">Email : </span>
			<span class="span9">{{ entity.email }}</span>
		</div>
		<div class="row">
			<span class="span2">Membre depuis : </span>
			<span class="span9">{{ entity.createdAt|date ('d-m-Y - g:i') }}</span>
		</div>
		<div class="row">
			<span class="span2">Dernière connexion : </span>
			<span class="span9">{{ entity.lastLogin|date ('d-m-Y - g:i') }}</span>
		</div>
	</div>
	<div class="row span11">
		<div class="span3"
			<a href="{{ path('utilisateur') }}">
           	 	<button class="btn btn-inverse">
           	 		<i class="icon-list icon-white"></i> Retour à la liste
           	 	</button>
        	</a>
			<a href="{{ path('utilisateur_edit', { 'id': entity.id }) }}">
           	 	<button class="btn btn-info	">
           	 		<i class=" icon-pencil icon-white"></i> Editer le profil
           	 	</button>
        	</a>
        </div>
        <div class="span2">
        	<form action="{{ path('utilisateur_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger">
           	 		<i class=" icon-remove icon-white"></i> Supprimer
           	 </button>
        </form>
        </div>
	</div>
</div>
{% endblock %}